DEBUG = True
SERVER_HOST = localhost
SERVER_PORT = 8000
SERVER_NAME = http://localhost:8000/

DATABASE_HOST = localhost
DATABASE_PORT = 3306
DATABASE_USER = root
DATABASE_PASS = #password DB
DATABASE_NAME = beer

MONGO_DB_HOST = localhost
MONGO_DB_PORT = 27017
MONGO_DB_DATABASE = mongodb
MONGO_DB_USERNAME = user
MONGO_DB_PASSWORD = #password Mongo DB
MONGO_DB_COLLECTION = notify_go 